<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle *ngFor="let item of menuItems">
        <ion-item [routerDirection]="'root'" [routerLink]="[item.url]">
          <ion-icon slot="start" [name]="item.icon"></ion-icon>
          {{ item.title }}
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
