<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="onClickDetails(item)">
      <ion-avatar slot="start">
        <!-- <img src="{{ item.img }}" alt="{{ item.title }} avatar"> -->
        <ion-img [src]="item.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ item.title | uppercase }}</h2>
        <p>{{ item.label }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
