<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>page1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Bonjour, <br>je suis la page 1</p>

  <p>{{text1}}</p>

  <p>
    <ion-button (click)="onClickButton1()" *ngIf="numButton == 1" [disabled]="numButton == 2">Button 1</ion-button>
    <ion-button (click)="onClickButton2()" *ngIf="numButton == 2" [disabled]="numButton == 1">Button 2</ion-button>
  </p>
</ion-content>
