<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="item">{{ item.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item">
    <ion-img [src]="item.img"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Id : {{ item.id }}</ion-card-subtitle>
      <ion-card-title> {{ item.title }}</ion-card-title>

      <ion-card-content>{{ item.label }}</ion-card-content>

    </ion-card-header>
  </ion-card>
</ion-content>
